@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgColor: rgba(173,216,230,0.8);
  --white: #fff;
  --footercolor:rgba(23,23,23,0.9);
  
}
body {
  
  font-family: "Open Sans", sans-serif;
  background-image: url("/assets/bday.png");
}

.container {
  max-width: 90vh;
  margin: 0 auto;
  padding-top: 1.5rem;
  
}

.header {
  font-family: Bebas Neue, cursive;
  /* margin: 1.5rem auto; */
  background-color: light blue;
  padding: 1.5rem 1rem;
  
}
.heading {
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
}

.main {
  margin-top: 1.5rem;
  background-color:var(--bgColor);
  padding: 2rem 0;
  

}

.form {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}
.form-section {
  margin-bottom: 1rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
input {
  width: 60%;
  font: inherit;
  padding: 0.5rem;
}

.btn {
  width: 60%;
  background-color: black;
  color: var(--white);
  border: 1px solid black;
  font: inherit;
  padding: 1rem;
  
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--white);
  border: 2px solid black;
  color: black;
  
}

.lucky-section {
  background-color: var(--white);
  padding: 2rem 0;
 
  margin: 1.5rem auto;
}

.result {
  font-family: Bebas Neue, cursive;
  text-align: center;
  font-size: 2rem;
}
.main{
  height:60vh;
}





.img {
  width: 60%;
  margin: 0 auto;
}

.model {
  position: absolute;
  bottom: 4rem;
  left: 3rem;
  
  
}

.model-container {
  color:white;
  max-width: 20vw;
  min-height: 30vh;
  background-color:black ;
  text-align: center;
  padding: 1rem;

}

.model-btn {
  background-color: black;
  border: 1px solid white;
  font-family: inherit;
  color: white;
  padding: 10px 20px;
}
.model-btn:hover {
  background-color: white;
  color: grey;
}

.model-text {
  padding: 15px 0;
  text-align: left;
  font-size: 0.8rem;
}

footer{
  background-color: var(--footercolor);
  margin: 0;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top: 2px solid black;
  color:  white;
  text-align:center;
  margin-top:4rem;
  
}


.links{
  display:inline-block;
  padding-right:2.5rem;
  font-size:1.8rem;
  color:white;
}